<%= simple_form_for(@roster) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :position %>
    <%= f.association :user %>
    <%= f.input :pay_rate %>
    <%= f.input :pay_type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
