<h2>Dashboard</h2>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h3>Calendar <span class="glyphicon glyphicon-plus-sign" id="newEventBtn" aria-hidden="true"></span></h3>
			<div id="newEvent">
				<%= render 'events/form', event: @event %>
			</div>
			<div id="calendar"></div>
			<p id="monthearnings"></p>
			<div class="progress">
			  <div id="earnedBudget" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			    0%
			  </div>
			</div>

	    </div>
		<div class="col-md-6">
			<div id="gigrequests">
				<!-- list out all of the users gig requests -->
			</div>
			<div id="budgets">
			<h3>Budgets <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="budgcatbtn"></span></h3>
			<div class="budgcatform">
			<%= render '/budget_categories/form', budget_category: @budget_category %>
			</div>
			<% @budget_categories.each do |budgetcat| %>
				<h4><%= budgetcat.name %> <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="budgetcat<%= budgetcat.id %>formBtn"></span></h4>
				<div id="budgetcat<%= budgetcat.id %>form" class="budgetforms">
				<%= simple_form_for(@budget) do |f| %>
				  <%= f.error_notification %>

				  <div class="form-inputs">
				    <%= f.input :name %>
				    <%= f.input :amount %>
				    <%= f.input :recurring_type %>
				    <%= f.association :budget_category, as: :hidden, input_html: {value: budgetcat.id} %>
				  </div>

				  <div class="form-actions">
				    <%= f.button :submit %>
				  </div>
				<% end %>
				</div>
				<script type="text/javascript">
					$("#budgetcat<%= budgetcat.id %>formBtn").click(function(){
						$("#budgetcat<%= budgetcat.id %>form").toggle(1000);
					});
				</script>
				<% budgetcat.budgets.each do |budget| %>
					<p><%= budget.name %> <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="budget<%= budget.id %>formBtn"></span></p>
					<div class="transactionforms" id="budget<%= budget.id %>form">
					<%= simple_form_for(@transaction) do |f| %>
					  <%= f.error_notification %>

					  <div class="form-inputs">
					    <%= f.input :merchant %>
					    <%= f.input :note %>
					    <%= f.input :amount %>
					    <%= f.association :budget, as: :hidden, input_html: {value: budget.id} %>
					  </div>

					  <div class="form-actions">
					    <%= f.button :submit %>
					  </div>
					<% end %>
					</div>
					<div class="progress">
  						<div class="progress-bar" role="progressbar" aria-valuenow="<%= budget.percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= budget.percent %>%" id="budget<%= budget.id %>" data-budget="<%= budget.amount %>">
  						<%= budget.percent %>%
  						</div>
					</div>
					<script type="text/javascript">
					$("#budget<%= budget.id %>formBtn").click(function(){
						$("#budget<%= budget.id %>form").toggle(1000);
					});
				</script>
				<% end %>
			<% end %>
			<script type="text/javascript">
				$("#budgcatbtn").click(function(e){
						$(".budgcatform").toggle(1000);
					});
				</script>
			<h4>Total</h4>
			<p id="total"><%= @budgets.sum(:amount) %></p>
			<div class="progress">
  				<div class="progress-bar" role="progressbar" aria-valuenow="<%= @total_percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @total_percent %>%" id="totalProgress">
  				<%= @total_percent.to_i %>%
  				</div>
			</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function() {
	// initialize calendar
$('#calendar').fullCalendar(
	{events: 'events.json'}
	);
// define transactions
var transactions;
$.ajax({
	url: '/transactions.json',
	success: function(data) {
		transactions = data;
	}
})
// define budgets
var budgets;
$.ajax({
	url: '/budgets.json',
	success: function(data) {
		budgets = data;
	}
})
var view,
	start,
	end;
App.getIdOrFilter = function () {
    view = $('#calendar').fullCalendar('getView');
    start = view.intervalStart;
    end   = view.intervalEnd;
    return function (e) {
        // this is our event filter
        if (e.start >= start && e.end <= end) {
            // event e is within the view interval
            return true;
        }
        // event e is not within the current displayed interval
        return false;
    };
}
$("#newEventBtn").click(function(){
	$("#newEvent").toggle(1000)
});
	
$(".fc-button").click(function(){
	updatePage()
});

function updatePage(){
	setTimeout( function(){
		var events = $('#calendar').fullCalendar('clientEvents', App.getIdOrFilter());
		var checks = []
		var currentTrans = transactions.filter(function (e) {
	        if (moment(e.created_at) >= start && moment(e.created_at) <= end) {
	            return true;
	        }
	        return false;
	    })
		var total = currentTrans.reduce((pv, cv) => pv+parseFloat(cv.amount), 0);
	    var totals = currentTrans.reduce(function(obj,transaction){
		  let key = transaction.budget_id + "";
		  obj[key] = (obj[key] || 0) + parseFloat(transaction.amount);
		  return obj;
		},{});
		budgets.forEach(function(budget){
		  let id = budget.id + "";
		  document.getElementById("budget"+id).style.width = (totals[id] || 0) / budget.amount * 100 + "%";
		  document.getElementById("budget"+id).innerText = parseInt((totals[id] || 0) / budget.amount * 100) + "%";
		});
		var budgetTotal = parseInt(document.getElementById("total").innerText);
		var totalProgress = document.getElementById("totalProgress");
		var budgetProgress = total / budgetTotal * 100;
		totalProgress.style.width = budgetProgress + "%"
		totalProgress.innerText = parseInt(budgetProgress) + "%"
		for(i = 0; i < events.length; i++) {
			checks.push(((events[i].end - events[i].start) / 1000 / 60 / 60) * events[i].pay_rate);
		};

		// rollover from previous month
		var prevstart = moment("<%= current_user.created_at %>");
		var prevend = moment(end).subtract(1, "months");
		if( prevstart < start ){
			var prevchecks = [];
			var prevevents = $("#calendar").fullCalendar('clientEvents', function(e){
				return e.start >= prevstart && e.end <= prevend;
			});
			for(i = 0; i < prevevents.length; i++) {
				prevchecks.push(((prevevents[i].end - prevevents[i].start) / 1000 / 60 / 60) * prevevents[i].pay_rate);
			};
			var prevMonthsPay = prevchecks.reduce((pv, cv) => pv+cv, 0);
			var rollover = prevMonthsPay - (budgetTotal * Math.ceil(prevend.diff(prevstart, 'months', true)));
			console.log(rollover)
			console.log(checks)
			checks.push(rollover)
			console.log(checks)
		}
		// end rollover
		var monthPay = checks.reduce((pv, cv) => pv+cv, 0);
		var percentEarned = parseInt(monthPay / budgetTotal * 100);
		var progressBar = document.getElementById("earnedBudget");
		progressBar.setAttribute("aria-valuenow", percentEarned);
		progressBar.setAttribute("style", "width: " + percentEarned + "%");
		progressBar.innerText = percentEarned + "%";
		
	}, 100);
}
updatePage()
})
</script>