<!DOCTYPE html>
<html>
  <head>
    <title>Gigantic</title>
    <%= csrf_meta_tags %>
   
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/js/bootstrap-tour.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="landingHero">
  <header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <a href="/dashboard"><h1>GIGANTIC</h1></a>
      </div>
      <div class="col-md-6 sessionInfo">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-inline' }, wrapper: :horizontal_form) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, required: false, autofocus: true %>
            <%= f.input :password, required: false %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  </header>
	<p>Your life is gigantic. Managing it shouldn't be.</p>
	
	<span class="glyphicon glyphicon-calendar"></span>
	<span class="glyphicon glyphicon-usd"></span>
	<span class="glyphicon glyphicon-sunglasses"></span>
</div>
<div id="landingContent">
	<h2>What Is <span class="title">GIGANTIC</span>?</h2>
	<p><span class="title">GIGANTIC</span> is a budgeting and scheduling tool for people who live outside of the nine to five.</p>
	<p>Your income isn't monthly, but your expenses are. <span class="title">GIGANTIC</span> allows you to see the income you have scheduled to come in and how long it will last you based on your monthly budget.</p>
	<p>Have slow months? <span class="title">GIGANTIC</span> rolls over your excess income so you always know if you've booked enough work to get you through those down periods.</p>
	<p>Have conflicting job requests from frequent employers? <span class="title">GIGANTIC</span>'s employer graph will show you which of your employers are giving you the most hours and which ones are paying the most for your time so you can make an informed decision.
	</p>
	<p>You work hard enough. <span class="title">GIGANTIC</span> makes managing your business easy so you can enjoy your life.</p>
	<div id="how">
	<h2>How Does It Work?</h2>
	<span class="glyphicon glyphicon-calendar howimg"></span>
	<p>Manage your schedule with <span class="title">GIGANTIC</span>'s built in calendar. Assign gigs to employers so you can keep track of who is giving you the most work.</p>
	<p>Manage your budget with <span class="title">GIGANTIC</span>'s budgeting software. Track your spending and organize expenses by category so you can see exactly where your money is going.</p><span class="glyphicon glyphicon-usd howimg"></span>
	<span class="glyphicon glyphicon-sunglasses howimg"></span>
	<p>Relax! <span class="title">GIGANTIC</span> automatically calculates your income so you can see how much of your budget is covered. Look into the future so you always know if you're covered for those slow months.</p>
	</div>
	</div>
	<div id="signup">
		<h2>Sign Up Now!</h2>

		<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <%= f.error_notification %>

		  <div class="form-inputs">
		    <%= f.input :email, required: true, autofocus: true %>
		    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
		    <%= f.input :password_confirmation, required: true %>
		  </div>

		  <div class="form-actions">
		    <%= f.button :submit, "Sign up" %>
  			</div>
			<% end %>
	</div>
	  </body>
</html>