<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :employer %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :street_address %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :uniform %>
    <%= f.input :start %>
    <%= f.input :end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
