
<div id="event">
<h2>
  <%= @event.title %>
</h2>

<p>
  <strong>Employer:</strong>
  <%= link_to @event.employer.name, @event.employer %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @event.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @event.state %>
</p>

<p>
  <strong>Uniform:</strong>
  <%= @event.uniform %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>
<iframe width="500" height="500" frameborder="0" style="border:0"
 src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["GIGANTIC_GMAPS_KEY"] %>&q=<%= @event.address %>"
 allowfullscreen>
</iframe>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', dashboard_path %>
</div>
