<div id="event">
<h2>
  <%= @employer.name %>
</h2>

<p>
  <strong>Contact person:</strong>
  <%= @employer.contact_person %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <a href="mailto:<%= @employer.email %>"><%= @employer.email %></a>
</p>

<p>
  <strong>Pay rate:</strong>
  <%= @employer.pay_rate %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @employer.pay_type %>
</p>

<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', dashboard_path %>
</div>