<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @employer.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @employer.name %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @employer.contact_person %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employer.email %>
</p>

<p>
  <strong>Pay rate:</strong>
  <%= @employer.pay_rate %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @employer.pay_type %>
</p>

<p>
  <strong>Color:</strong>
  <%= @employer.color %>
</p>

<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
