<p id="notice"><%= notice %></p>

<p>
  <strong>Merchant:</strong>
  <%= @transaction.merchant %>
</p>

<p>
  <strong>Note:</strong>
  <%= @transaction.note %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @transaction.budget %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
