<%= simple_form_for(@gig) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :client %>
    <%= f.input :staff_budget %>
    <%= f.input :start %>
    <%= f.input :end %>
    <%= f.input :street_address %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :description %>
    <%= f.input :invoice_period %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
